<!doctype html>
<html>
  <head>
    <title>Django Girls blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Django Girls Blog</a></h1>
    </header>

    <article>
      <time>published: 2/14/2026, 12:14</time>
      <h2><a href="">My first post</a></h2>
      <p>
        Studying Django Girls blog today in order to be able to make a backend
        project in the near future! Django Girls tutorial makes things pretty
        fun and easy which helps a lot!
      </p>
    </article>

    <article>
      <time>published: 2/14/2026, 12:16</time>
      <h2><a href="">My second post</a></h2>
      <p>
        I would like to be able to make my own projects with React and Django as
        well which I think will be more complex than just having templates in
        django. I wonder how it is done?
      </p>
    </article>
  </body>
</html>
